@model List<DemoGit.Domain.Entities.Produto>
@{
    ViewData["Title"] = "Produtos";
}

<h1>Produtos</h1>

<input type="button" class="btn btn-success" value="Criar Produto" onclick="location.href='@Url.Action("Inserir", "Produto")'" />

<table class="table">
    <thead>
        <th>Descrição</th>
        <th>Valor (R$)</th>
        <th>Quantidade em estoque</th>
        <th>Editar</th>
        <th>Deletar</th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {     
            <tr>
                <td>@item.Descricao</td>
                <td>@item.Preco</td>
                <td>@item.QuantidadeEstoque</td>
                <td>@Html.ActionLink("Editar", "Editar", "Produto", new {id = item.Id})</td>
                <td>@Html.ActionLink("Deletar", "Deletar", "Produto", new {id = item.Id})</td>
            </tr>
        }
    </tbody>
</table>
